
.contact-modalmsg {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 1005;
  display: none;
  width: 416px;
  height: 436px;
  margin-top: -177px;
  margin-left: -212px;
  background: #158FD2 ;
  border: 4px solid #ffffff;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
	 z-index:2001;
}

#semitransparentoverlay2 {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background: url('../img/bg_overlay.png') 0 0 repeat;
  background: rgba(0, 0, 0, 0.7);
  z-index:2000;
}

.contact-modalmsg .contact-modalmsg-content {
  padding: 50px 50px 37px 50px;
}

.contact-modalmsg .btn-close {
  position: absolute;
  top: -15px;
  right: -15px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: transparent url('../img/btn_close2.png') 0 0 no-repeat;
}

.contact-form-feedback .input-text-1 {
  margin-bottom: 12px;
   width: 282px;
  height: 72px;
  padding: 0 15px;
  font-size: 1.5em;
  line-height: normal;
  color: #777;
  background: #ffffff;
  border: 0;
  border: 1px solid #f0f2f6;
}



.contact-form-feedback .btn-1 {
 margin: 20px auto 0 auto;
  display: block;
  width: 310px;
  height: 75px;
  padding-top: 5px;
  overflow: hidden;
  font-size: 24px;
  line-height: normal;
  color: #333333;
  text-align: center;
  text-shadow: 1px 1px 2px rgba(255, 255, 255, 0.25);
  cursor: pointer;
  background: #ffcc00;
  border: 0;
  border-bottom: 7px solid #c99700;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
      -ms-transition: 0.3s;
       -o-transition: 0.3s;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.clearfixmy {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.form-message {
	color:#fff;
}

.contact-modalmsg-title {
	font-size:24px;
	color:#fff;
	text-align:center;
	margin-top:25px;
	margin-bottom:-25px;
}
