/* css */

/* Common styles */

table {
  border-collapse: collapse;
}

a,
a:hover {
  text-decoration: none;
  cursor: pointer;
}

input,
textarea,
input[type="text"],
input[type="search"],
input[type="submit"],
input:focus {
  outline: none;
}

img {
  border: none;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  color: #333;
  background: #ffffff;
}

.clearfix {
  display: block;
  zoom: 1;
}

.clearfix:after {
  display: block;
  height: 0;
  clear: both;
  font-size: 0;
  content: " ";
  visibility: hidden;
}

.upper-text {
  text-transform: uppercase;
}

strong {
  font-weight: bold;
}

.btn:hover {
display: inline-block;
padding: 0;
overflow: hidden;
font: 16px/normal 'Arial', sans-serif;
color: #333;
text-align: center;
cursor: pointer;
background: #FFDD0E;
border: 0;
border-bottom: 5px solid #E5AB21;
-webkit-transition: 0.3s;
-moz-transition: 0.3s;
-ms-transition: 0.3s;
-o-transition: 0.3s;
}
.info .feedback-form-1:hover {
  display: block;
  width: 381px;
  height: 508px;
  margin-left: 518px;
  background: #158fd2;
  outline: 4px solid #0666a0;}

/*-------------------- Заголовки ---------------------*/

.service_link {color: #24bce9;
text-decoration: none;
background: url(/services-link-1.png) repeat-x left bottom;
position: relative;}

.title-1 {
  font-size: 32px;
  line-height: 1.2;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
}

/*-------------------- Поля, кнопки ---------------------*/

.btn {
  display: inline-block;
  padding: 0;
  overflow: hidden;
  font: 16px/normal 'Arial', sans-serif;
  color: #333;
  text-align: center;
  cursor: pointer;
  background: #ffcc00;
  border: 0;
  border-bottom: 5px solid #c99700;
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
      -ms-transition: 0.3s;
       -o-transition: 0.3s;
}

.btn.btn-1 {
  width: 150px;
  height: 48px;
  padding-top: 3px;
  font-weight: bold;
}

.btn.btn-2 {
  width: 260px;
  height: 73px;
  padding-top: 5px;
  font-weight: bold;
}

.btn.btn-3 {
  width: 240px;
  height: 46px;
  padding-top: 3px;
  font-weight: bold;
}

.btn.btn-4 {
  width: 300px;
  height: 60px;
  padding-top: 3px;
  font-weight: bold;
}

.btn.btn-5 {
  width: 160px;
  height: 50px;
  padding: 2px 20px 0 20px;
  font-size: 14px;
  font-weight: bold;
  white-space: normal;
}

.btn.btn-6 {
  width: 260px;
  height: 58px;
  padding-top: 2px;
  padding-left: 80px;
  text-align: left;
  font-weight: bold;
  background: #ffbf00 url('../img/bg_7.png') 20px 50% no-repeat;
}

.input-text-1 {
  display: block;
  width: 260px;
  height: 55px;
  padding: 0 20px;
  font: 16px/normal 'Arial', sans-serif;
  color: #333;
  background: #ffffff;
  border: 1px solid #0666a0;
}

/*---------------------- wrapper -------------------*/

.wrapper {
  width: 960px;
  margin: 0 auto;
}

/*---------------------- block-1 -------------------*/

.block-1 {
  position: relative;
  width: 100%;
  min-width: 960px;
  margin: 0 auto;
  overflow: hidden;
  background: transparent;
}

/*---------------------- header -------------------*/

.header {
  position: fixed;
  z-index: 10;
  height: 90px;
  background: #262b31;
  border-bottom: 5px solid #0172ae;
}

.header .wrapper {
  position: relative;
}

.header .logo {
  position: absolute;
  top: 20px;
  left: 9px;
  display: block;
  width: 151px;
  height: 52px;
  background: url('../img/logo.png') 0 0 no-repeat;
  background-size: contain;
}

.header .text {
  position: absolute;
  top: 19px;
  left: 190px;
  font-size: 12px;
  line-height: 1.2;
  color: #ffbf00;
}

.header .phone {
  position: absolute;
  top: 17px;
  left: 403px;
  font-size: 22px;
  line-height: 1.2;
  color: #ffffff;
}

.header .btn-consultation {
  position: absolute;
  top: 21px;
  right: 11px;
}

.header .nav {
  position: absolute;
  top: 53px;
  left: 190px;
}

.header .nav li {
  float: left;
  margin-left: 26px;
}

.header .nav li:first-child {
  margin-left: 0;
}

.header .nav li a {
  font-size: 13px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.3s;
     -moz-transition: 0.3s;
      -ms-transition: 0.3s;
       -o-transition: 0.3s;
}

.header .nav li a:hover,
.header .nav li a.special-link {
  color: #ffbf00;
}

/*---------------------- slider -------------------*/

.slider {
  height: 400px;
  padding-top: 95px;
  max-width: 1920px;
}

.slider .nivoSlider {
  position: relative;
  width: 1920px;
  height: 400px;
  overflow: hidden;
  text-align: center;
  left: 50%;
  margin-left: -960px;
}

.slider .nivoSlider  .nivo-imageLink {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 1920px !important;
  height: 400px !important;
  z-index: 20;
}

.slider .nivoSlider  img {
  position: absolute;
  top: 0px;
  left: 0px;
  display: none;
  width: 1920px !important;
  height: 400px !important;
}

.slider .nivoSlider  .nivo-main-image {
  position: absolute;
  top: 0;
  left: 0;
}

.nivo-directionNav {
	width: 960px;
	margin: 0 auto;
	position: relative;
}

.slider .nivo-prevNav,
.slider .nivo-nextNav {
  position: absolute;
  top: 182px;
  width: 36px;
  height: 36px;
  overflow: hidden;
  cursor: pointer;
  z-index: 30;
  text-indent: -9999px;
  display: block;
}

.slider .nivo-prevNav {
  left: -45px;
  background: url('../img/bg_1.png') 0 0 no-repeat;
}

.slider .nivo-prevNav:hover {
  background: url('../img/bg_1.png') 0 -36px no-repeat;
}

.slider .nivo-nextNav {
  right: -45px;
  background: url('../img/bg_1.png') -36px 0 no-repeat;
}

.slider .nivo-nextNav:hover {
  background: url('../img/bg_1.png') -36px -36px no-repeat;
}

.slider .nivo-controlNav {
  width: 820px;
  margin: -65px auto 0 auto;
  position: relative;
}

.slider .nivo-controlNav a {
  display: inline-block;
  width: 13px;
  height: 13px;
  margin-right: 7px;
  background: transparent;
  border: 1px solid #ffffff;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
  text-indent: -9999px;
  z-index: 30;
  position: relative;
}

.slider .nivo-controlNav a.active {
  background: #ffffff;
}

/*---------------------- services -------------------*/

.services .title-1 {
  padding: 62px 0 0 10px;
}

.services .services-list {
  width: 960px;
  margin-top: 35px;
}

.services .services-list li {
  position: relative;
  float: left;
  width: 280px;
  height: 190px;
  padding: 10px;
  margin: 0 10px 40px 10px;
  overflow: hidden;
  cursor: pointer;
  background: transparent;
}

.services .services-list li:hover {
  background: #f9f9f9 url('../img/bg_2.png') 0 100% no-repeat;
}

.services .services-list li .item-title {
  font-size: 20px;
  line-height: 1.2;
  color: #0465a0;
 
}

.doted-text { 
  text-decoration: none;
  background: url(/img/services-link-1.png) repeat-x left bottom;
  position: relative;
}

.services .services-list li .item-text {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.4;
  color: #333;
  
}

.services .services-list li .show-more {
  position: absolute;
  top: 175px;
  left: 10px;
  font-size: 14px;
  line-height: 1.2;
  color: #d3d3d3;
}

/*---------------------- cases -------------------*/

.cases {
  padding-bottom: 50px;
}

.cases .title-1 {
  padding: 25px 0 0 10px;
}

.cases .inner-wrapper {
  position: relative;
}

.cases .cases-carousel-wrapper {
  width: 940px;
  margin: 45px auto 0 auto;
}

.cases .button-wrap{
    padding: 20px 0;
    display: block;
    text-align: center;
    position: absolute;
    bottom: -75px;
    left: 0;
    right: 0;
}

.cases .hidden-block{
    display: none;
}

.cases .button-wrap .btn.hidden-block{
    display: none;
}
.cases .button-wrap .btn{
    line-height: 65px;
    background: #ffbf00;
}

.cases .cases-carousel-wrapper ul{
    margin-left: -20px;
    width: 960px;
    list-style: none;
    font-size:0; /* убираем горизонтальные отступы */
    line-height:0; /* ...и вертикальные в некоторых браузерах */
    letter-spacing:-1px; /* переубеждаем webkit'ы */
}

.cases .cases-carousel-wrapper ul li {
    width: 300px;
    height: 249px;
    margin-left: 20px;
    margin-bottom: 20px;
    box-sizing: content-box;
    display: inline-block;
    vertical-align: top;
    line-height:normal;
    letter-spacing:normal;
    zoom:1;
}

.cases .cases-carousel-wrapper ul li.hidden-block{
    display: none;
}

.cases .cases-carousel ul li .inner-block {
  position: relative;
  width: 300px;
  height: 217px;
  box-sizing: content-box;
}

.cases .cases-carousel ul li .inner-block:after {
  position: absolute;
  top: 217px;
  left: 50%;
  display: block;
  width: 276px;
  height: 32px;
  margin-left: -138px;
  background: url('../img/bg_4.png') 0 0 no-repeat;
  content: '';
}

.cases .cases-carousel ul li .inner-block img {
  width: 300px;
  height: 217px;
}

.cases .cases-carousel-prev,
.cases .cases-carousel-next {
  position: absolute;
  top: 90px;
  width: 36px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
}

.cases .cases-carousel-prev {
  left: -45px;
  background: url('../img/bg_5.png') 0 0 no-repeat;
}

.cases .cases-carousel-prev:hover {
  background: url('../img/bg_5.png') 0 -35px no-repeat;
}

.cases .cases-carousel-next {
  right: -45px;
  background: url('../img/bg_5.png') -36px 0 no-repeat;
}

.cases .cases-carousel-next:hover {
  background: url('../img/bg_5.png') -36px -35px no-repeat;
}

/*---------------------- info -------------------*/

.info {
  width: 898px;
  padding: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  overflow: hidden;
  background: #f9f9f9;
  border: 1px solid #e1e5e6;
}

.info .explanation {
  float: left;
  width: 500px;
  padding-right: 18px;
}

.info .explanation .inner-wrapper {
  margin-top: 37px;
}

.info .explanation .title {
  font-size: 20px;
  line-height: 1.2;
}

.info .explanation .person-info {
  float: left;
  width: 120px;
  border-right: 1px solid #e1e5e6;
}

.info .explanation .person-info .photo {
  display: block;
  width: 91px;
  height: 99px;
}

.info .explanation .person-info .name,
.info .explanation .person-info .position {
  font-size: 14px;
  line-height: 1.2;
}

.info .explanation .person-info .name {
  margin-top: 20px;
}

.info .explanation .person-info .position {
  margin-top: 2px;
}

.info .explanation .text {
  width: 350px;
  margin-left: 140px;
  overflow: hidden;
  font-size: 16px;
  line-height: 1.45;
}

.info .explanation .text p {
  margin-bottom: 20px;
}

.info .explanation .text .sub-text {
  font-size: 0.875em;
}

.info .feedback-form-1 {
  display: block;
  width: 381px;
  height: 508px;
  margin-left: 518px;
  background: #158fd2;
}

.info .feedback-form-1 .form-title {
  padding: 38px 30px 40px 30px;
  font-size: 24px;
  line-height: 1.2em;
  color: #ffffff;
  text-align: center;
}

.info .feedback-form-1 .form-title.form-title-1 {
  padding-top: 60px;
  padding-bottom: 60px;
}

.info .feedback-form-1 .input-text-1 {
  margin-bottom: 8px;
  margin-left: 40px;
}

.info .feedback-form-1 .btn-4 {
  margin-top: 18px;
  margin-left: 40px;
}

.info .feedback-form-1 .phone {
  margin-top: 53px;
  font-size: 18px;
  line-height: 1.45;
  color: #04659f;
  text-align: center;
}

.info .feedback-form-1 .phone.phone-1 {
  margin-top: 30px;
}

.info .feedback-form-1 .phone.phone-2 {
  margin-top: 40px;
}

/*---------------------- prices -------------------*/

.prices {
  padding-bottom: 30px;
}

.prices .title-1 {
  padding: 30px 0 0 10px;
}

.prices .prices-table {
  width: 940px;
  margin: 50px auto 0 auto;
}

.prices .prices-table td {
  width: 355px;
  height: 20px;
  padding: 10px 12px;
  text-align: left;
}

.prices .prices-table td .plus {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #158fd2 url('../img/bg_plus.png') 50% 50% no-repeat;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.prices .prices-table td .minus {
  display: inline-block;
  width: 26px;
  height: 26px;
  background: #e7e7e7 url('../img/bg_minus.png') 50% 50% no-repeat;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.prices .prices-table td .offer {
  display: inline-block;
  height: 23px;
  padding: 3px 10px 0 10px;
  color: #ffffff;
  text-align: center;
  background: #158fd2;
  -webkit-border-radius: 13px;
     -moz-border-radius: 13px;
          border-radius: 13px;
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.prices .prices-table td .btn-5 {
  margin-top: 10px;
}

.prices .prices-table td + td {
  width: 145px;
  padding: 10px 12px;
  text-align: center;
  background: #f9f9f9;
  border-right: 1px solid #e1e5e6;
  border-left: 1px solid #e1e5e6;
}

.prices .prices-table td + td.header-td {
  text-align: left;
}

.prices .prices-table td + td + td {
  width: 15px;
  padding: 0;
  background: #ffffff;
  border: 0;
}

.prices .prices-table td + td + td + td {
  width: 145px;
  padding: 10px 12px;
  text-align: center;
  background: #f9f9f9;
  border-right: 3px solid #febf00;
  border-left: 3px solid #febf00;
}

.prices .prices-table td + td + td + td + td {
  width: 15px;
  padding: 0;
  background: #ffffff;
  border: 0;
}

.prices .prices-table td + td + td + td + td + td {
  width: 145px;
  padding: 10px 12px;
  text-align: center;
  background: #f9f9f9;
  border-right: 1px solid #e1e5e6;
  border-left: 1px solid #e1e5e6;
}

.prices .prices-table td + td + td + td + td + td.header-td {
  text-align: left;
}

.prices .prices-table tr:first-child td + td {
  border-top: 1px solid #e1e5e6;
}

.prices .prices-table tr:first-child td + td + td {
  border-top: 0;
}

.prices .prices-table tr:first-child td + td + td + td {
  border-top: 3px solid #febf00;
}

.prices .prices-table tr:first-child td + td + td + td + td {
  border-top: 0;
}

.prices .prices-table tr:first-child td + td + td + td + td + td {
  border-top: 1px solid #e1e5e6;
}

.prices .prices-table tr:last-child td + td {
  border-bottom: 1px solid #e1e5e6;
}

.prices .prices-table tr:last-child td + td + td {
  border-bottom: 0;
}

.prices .prices-table tr:last-child td + td + td + td {
  border-bottom: 3px solid #febf00;
}

.prices .prices-table tr:last-child td + td + td + td + td {
  border-bottom: 0;
}

.prices .prices-table tr:last-child td + td + td + td + td + td {
  border-bottom: 1px solid #e1e5e6;
}

.prices .text {
  padding: 20px 0 0 360px;
  line-height: 1.45;
}

/*---------------------- regions -------------------*/

.regions {
  padding-bottom: 10px;
}

.regions .title-1 {
  padding: 40px 0 0 10px;
}

.regions .map-block {
  position: relative;
  width: 940px;
  height: 250px;
  margin: 30px auto 0 auto;
  background: url('../img/bg_6.png') 0 100% no-repeat;
}

.regions .map-block #map {
  width: 940px;
  height: 246px;
}

.regions .map-block .text-block {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 246px;
  color: #fff;
  text-align: center;
  background: url('../img/bg_map_overlay.png') 0 0 repeat;
  background: rgba(0, 0, 0, 0.5);
}

.regions .map-block .text-block .text {
  position: absolute;
  top: 60px;
  left: 60px;
  font-size: 56px;
  line-height: 1.2;
}

.regions .map-block .text-block .price {
  position: absolute;
  top: 130px;
  left: 300px;
  font-size: 32px;
  line-height: 1.2;
}

.regions .map-block .text-block .btn-6 {
  position: absolute;
  top: 95px;
  right: 60px;
}

.regions .advantages-list {
  width: 940px;
  margin: 40px auto 0 auto;
}

.regions .advantages-list li {
  float: left;
  width: 215px;
  padding: 0 10px;
}

.regions .advantages-list li .item-title {
  position: relative;
  font-size: 20px;
  font-weight: bold;
  line-height: 1.2;
  color: #0172ae;
}

.regions .advantages-list li .item-title:before {
  position: absolute;
  top: 7px;
  left: -12px;
  display: block;
  width: 6px;
  height: 10px;
  background: url('../img/bg_8.png') 0 0 no-repeat;
  content: '';
}

.regions .advantages-list li .item-text {
  margin-top: 20px;
  line-height: 1.45;
}

/*---------------------- leaders -------------------*/

.leaders {
  padding-bottom: 60px;
}

.leaders .title-1 {
  padding: 40px 0 0 10px;
}

.leaders .inner-wrapper {
  position: relative;
}

.leaders .leaders-carousel-wrapper {
  width: 960px;
  margin: 45px auto 0 auto;
  overflow: hidden;
}

.leaders .leaders-carousel ul li {
  width: 960px;
  height: 428px;
  box-sizing: content-box;
  overflow: hidden;
}

.leaders .leaders-carousel ul li .image-wrapper {
  float: left;
  width: 337px;
  height: 420px;
  position: relative;
  padding-top: 8px;
}

.leaders .leaders-carousel ul li .image-wrapper img{
  width: 337px;
  height: 412px;
}

.leaders .leaders-carousel ul li .image-wrapper .image-title{
  width: 100%;
  height: 64px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #008fee;
  text-align: center;
}

.leaders .leaders-carousel ul li .image-wrapper .image-title a{
  color: #ffffff;
  font-weight: bold;
  display: inline-block;
  cursor: pointer;
  border-bottom: 1px solid #ffffff;
    -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
  margin-top: 20px;
}

.leaders .leaders-carousel ul li .image-wrapper .image-title a:hover {
  border-bottom: 1px solid transparent;
}

.leaders .leaders-carousel ul li .stat-image {
  width: 612px;
  height: 428px;
  margin-left: 10px;
}

.leaders .leaders-carousel-prev,
.leaders .leaders-carousel-next {
  position: absolute;
  top: 195px;
  width: 36px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
}

.leaders .leaders-carousel-prev {
  left: -50px;
  background: url('../img/bg_5.png') 0 0 no-repeat;
}

.leaders .leaders-carousel-prev:hover {
  background: url('../img/bg_5.png') 0 -35px no-repeat;
}

.leaders .leaders-carousel-next {
  right: -50px;
  background: url('../img/bg_5.png') -36px 0 no-repeat;
}

.leaders .leaders-carousel-next:hover {
  background: url('../img/bg_5.png') -36px -35px no-repeat;
}

/*---------------------- online-shops -------------------*/

.online-shops {
  padding-bottom: 35px;
}

.online-shops .title-1 {
  padding: 65px 0 0 10px;
}

.online-shops .inner-wrapper {
  position: relative;
}

.online-shops .online-shops-carousel-wrapper {
  width: 940px;
  margin: 30px auto 0 auto;
  overflow: hidden;
}

.online-shops .online-shops-carousel ul li {
  position: relative;
  width: 220px;
  height: 400px;
  margin-right: 20px;
  overflow: hidden;
}

.online-shops .online-shops-carousel ul li .image {
  display: block;
  width: 220px;
  height: 213px;
}

.online-shops .online-shops-carousel ul li .company-logo {
  display: block;
  margin-top: 20px;
  margin-left: 12px;
}

.online-shops .online-shops-carousel ul li .text {
  position: absolute;
  top: 282px;
  left: 10px;
  height: 80px;
  overflow: hidden;
  font-size: 18px;
  line-height: 1.4;
}

.online-shops .online-shops-carousel ul li .show-case {
  position: absolute;
  top: 370px;
  left: 10px;
  display: inline-block;
  font-size: 14px;
  line-height: 1.2;
  color: #158fd2;
  cursor: pointer;
  border-bottom: 1px solid #158fd2;
  -webkit-transition: 0.2s;
     -moz-transition: 0.2s;
      -ms-transition: 0.2s;
       -o-transition: 0.2s;
}

.online-shops .online-shops-carousel ul li .show-case:hover {
  border-bottom: 1px solid transparent;
}

.online-shops .online-shops-carousel-prev,
.online-shops .online-shops-carousel-next {
  position: absolute;
  top: 90px;
  width: 36px;
  height: 35px;
  overflow: hidden;
  cursor: pointer;
}

.online-shops .online-shops-carousel-prev {
  left: -45px;
  background: url('../img/bg_5.png') 0 0 no-repeat;
}

.online-shops .online-shops-carousel-prev:hover {
  background: url('../img/bg_5.png') 0 -35px no-repeat;
}

.online-shops .online-shops-carousel-next {
  right: -45px;
  background: url('../img/bg_5.png') -36px 0 no-repeat;
}

.online-shops .online-shops-carousel-next:hover {
  background: url('../img/bg_5.png') -36px -35px no-repeat;
}

/*---------------------- documents -------------------*/

.documents {
  padding-bottom: 20px;
}

.documents .title-1 {
  padding: 75px 0 0 10px;
}

.documents .image {
  display: block;
  width: 939px;
  height: 337px;
  margin: 30px auto 0 auto;
}

.documents .text {
  width: 740px;
  margin: 35px auto 0 auto;
  line-height: 1.45em;
  text-align: center;
}

.documents .text p {
  margin-bottom: 30px;
}

/*---------------------- footer -------------------*/

.footer {
  padding-top: 60px;
  padding-bottom: 70px;
  text-align: center;
  background: #f9f9f9;
}

.footer .phone {
  padding-top: 25px;
  font-size: 18px;
  line-height: 1.45;
  color: #999999;
}

/* ------------------- Модальное окно ------------------------ */

#semitransparentoverlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
  width: 100%;
  height: 100%;
  background: url('../img/bg_overlay.png') 0 0 repeat;
  background: rgba(0, 0, 0, 0.7);
}

.modalmsg {
  position: fixed;
  top: 50px;
  left: 50%;
  z-index: 1005;
  display: none;
  width: 820px;
  height: auto;
  margin-left: -410px;
  background: #ffffff;
}

.modalmsg .btn-close {
  position: absolute;
  top: 19px;
  right: 18px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: transparent url('../img/btn_close.png') 0 0 no-repeat;
}

.modalmsg .modalmsg-title {
  padding: 18px 100px 14px 20px;
  font-size: 24px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffffff;
  text-transform: uppercase;
  background: #1b78af;
}

.modalmsg .modalmsg-subtitle {
  padding: 23px 20px 21px 20px;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: #333;
  background: url('../img/bg_3.png') 0 100% no-repeat;
}

.modalmsg .modalmsg-content {
  padding: 30px 50px;
  font-size: 14px;
  line-height: 1.5;
  color: #666;
}

.modalmsg .content-title {
  padding: 15px 0;
  font-size: 16px;
  font-weight: bold;
  line-height: 1.2;
  color: #ffbf00;
}

.modalmsg .numbered-list {
  margin-bottom: 15px;
  list-style: decimal inside;
}

.modalmsg .marked-list {
  margin-bottom: 15px;
  list-style: disc inside;
}

.modalmsg .feedback {
  position: relative;
  height: 50px;
  margin-top: 30px;
}

.modalmsg .feedback .btn-3 {
  position: absolute;
  top: 0;
  left: 0;
}

.modalmsg .feedback .phone {
  position: absolute;
  top: -2px;
  left: 270px;
  color: #999;
}

* Header */

.codrops-header {
	padding: 2em 1em 4em;
	text-align: center;
}

.codrops-header h1 {
	margin: 0.5em 0 0;
	letter-spacing: -1px;
	font-size: 3em;
	line-height: 1;
	font-weight: normal;
}

.codrops-header h1 span {
	display: block;
	padding: 0.5em 0 1em;
	color: #999;
	font-weight: normal;
	font-size: 0.45em;
	letter-spacing: 0;
}


/* Top Navigation Style */

.codrops-links {
	position: relative;
	display: inline-block;
	text-align: center;
	white-space: nowrap;
}

.codrops-links::after {
	position: absolute;
	top: 0;
	left: 50%;
	width: 1px;
	height: 100%;
	background: rgba(255, 255, 255, 0.1);
	content: '';
	-webkit-transform: rotate3d(0, 0, 1, 22.5deg);
	transform: rotate3d(0, 0, 1, 22.5deg);
}

.codrops-icon {
	display: inline-block;
	margin: 0.5em;
	padding: 0em 0;
	width: 1.5em;
	text-decoration: none;
}

.codrops-icon span {
	display: none;
}

.codrops-icon:before {
	margin: 0 5px;
	text-transform: none;
	font-weight: normal;
	font-style: normal;
	font-variant: normal;
	font-family: 'codropsicons';
	line-height: 1;
	speak: none;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon--drop:before {
	content: "\e001";
}

.codrops-icon--prev:before {
	content: "\e004";
}


/* Demo links */

.codrops-demos {
	margin: 2em 0 0;
}

.codrops-demos a {
	display: inline-block;
	margin: 0 0.5em;
}

.codrops-demos a.current-demo {
	color: #fff;
}


/* Content */

.content {
	padding: 1em 0 3em;
	max-width: 1080px;
	margin: 0 auto;
}


/* Related demos */

.content--related {
	text-align: center;
	font-weight: bold;
	padding: 0 1em;
}

.media-item {
	display: inline-block;
	padding: 1em;
	vertical-align: top;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.media-item__img {
	max-width: 100%;
	opacity: 0.3;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

.media-item:hover .media-item__img,
.media-item:focus .media-item__img {
	opacity: 1;
}

.media-item__title {
	margin: 0;
	padding: 0.5em;
	font-size: 1em;
}


/* Demo ad style */

body #cdawrap {
	top: 15px;
	right: auto;
	left: 15px;
	background-color: rgba(0, 0, 0, 0.6);
	border: none;
}

body #cdawrap .carbon-text {
	color: #EBEBEB;
}

@media screen and (max-width: 50em) {
	.codrops-header {
		padding: 2em 5%;
	}
}

@media screen and (max-width: 40em) {
	.codrops-header h1 {
		font-size: 2.15em;
	}
}
